@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>Sorry, we don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover" id="customers">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Newsletter Subscriber</th>
                <th>Delete</th>
            </tr>
        </thead>

        @foreach (var customer in Model)
        {
            var newsletterSubscriberIndicator = customer.IsSubscribedToNewsLetter ? "Yes" : "No";

            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>@newsletterSubscriberIndicator</td>
                <td>
                    <button class="btn-link js-delete" data-customer-id="@customer.Id">Delete</button>
                </td>
            </tr>
        }
    </table>
}


@section scripts
{
    <script>
        $(document).ready(function () {

            $('#customers').DataTable();

            $('#customers').on("click", '.js-delete', function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr('data-customer-id'),
                            method: "DELETE",
                            success: function () {
                                button.parents('tr').remove();
                            }
                        });
                    }
                });                
            });
        });
    </script>    
}

